In [34]:
import matplotlib.pyplot as plt
import numpy as np
import mysql.connector as cnt
import pandas as pd

In [35]:
%matplotlib tk

Užduotis

1.1.

In [36]:
#   Nustatyti, kuriame regione buvo daugiausiai asmenų su aukštuoju išsilavinimu ir gyvenančių butuose, 
#   ir turinčių kompiuterį, ir televizorių, ir galinčių keliauti bent kartą per metus.

In [37]:
db = cnt.connect(
    host = "localhost",
    user = "root",
    password = "",
    port = 3317 )
c = db.cursor()
c.execute('use namu_ukiai')

In [38]:
def sar (s):
     c.execute(s)
     ats = c.fetchall()
     g = []
     for eil in ats:
          g.append(float(eil[0]))
     return g

In [39]:
def sar_proc (g, k):
     g_np = np.asarray(g)
     k_np = np.asarray(k)
     proc = g_np / k_np * 100
     return proc

In [40]:
n = ['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']
apskritis = ['Alytaus', 'Kauno','Klaipėdos','Marijampolės','Panevėžio','Šiaulių','Tauragės', 'Telšių','Utenos','Vilniaus']
metai = []
kiekis = []
ap = []

sql1 = """
     select count(`{} asmenys`.PB030) as `Asmens ID`,
          '{}' as 'Metai',
          `{} asmenys`.AP
     from `{} asmenys`
     left join `{} namu ukiai` on `{} namu ukiai`.HB030 = `{} asmenys`.HB030
     where (`{} asmenys`.PE040 = '5' or `{} asmenys`.PE040 = '6') and 
	      (`{} namu ukiai`.HH010 = '3' or `{} namu ukiai`.HH010 ='4')  and
            `{} namu ukiai`.HS090 = '1' and
            `{} namu ukiai`.HS080 = '1' and
            `{} namu ukiai`.HS040 = '1' 
     group by AP
     order by AP
    
"""
sql3 = """
     select count(`{} asmenys`.PB030) as `Asmens ID`,
          '{}' as 'Metai',
          `{} asmenys`.AP
     from `{} asmenys`
     left join `{} namu ukiai` on `{} namu ukiai`.HB030 = `{} asmenys`.HB030
     where (`{} asmenys`.PE040 = '600' or `{} asmenys`.PE040 = '700' or `{} asmenys`.PE040 = '800') and 
	      (`{} namu ukiai`.HH010 = '3' or `{} namu ukiai`.HH010 ='4')  and
            `{} namu ukiai`.HS090 = '1' and
            `{} namu ukiai`.HS080 = '1' and
            `{} namu ukiai`.HS040 = '1' 
     group by AP 
     order by AP  
"""

sql2 = """
     select count(`{} asmenys`.PB030) as `Asmens ID`,
          '{}' as 'Metai',
          `{} asmenys`.AP
     from `{} asmenys`
     left join `{} namu ukiai` on `{} namu ukiai`.HB030 = `{} asmenys`.HB030
     where (`{} asmenys`.PE040 = '600' or `{} asmenys`.PE040 = '700' or `{} asmenys`.PE040 = '800') and 
	      (`{} namu ukiai`.HH010 = '3' or `{} namu ukiai`.HH010 ='4')  and
            `{} namu ukiai`.HS090 = '1' and
            `{} namu ukiai`.HS040 = '1' 
     group by AP 
     order by AP

"""

fig,ax = plt.subplots()     
for i in range(0,4):  
     c.execute(sql1.format(n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i]))  
     ats = c.fetchall()
     ap = []
     kiekis = []
     for eilute in ats:
          kiekis.append(float(eilute[0]))
          ap.append(eilute[2])
     metai.append(ats[0][1])
     ax.plot(ap, kiekis, marker = 'D', markersize = 3, label = n[i])
for i in range(4,6):
     c.execute(sql3.format(n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i]))  
     ats = c.fetchall()
     ap = []
     kiekis = []
     for eilute in ats:
          kiekis.append(float(eilute[0]))
          ap.append((eilute[2]))
     metai.append(ats[0][1])
     ax.plot(ap, kiekis, marker = 's', markersize = 3, label = n[i])
for i in range(6,10):
     c.execute(sql2.format(n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i]))  
     ats = c.fetchall()
     ap = []
     kiekis = []
     for eilute in ats:
          kiekis.append(float(eilute[0]))
          ap.append(eilute[2])
     metai.append(ats[0][1])
     ax.plot(ap, kiekis, marker = '*', markersize = 3, label = n[i])
ax.set_xticks(ap)
ax.set_xticklabels(apskritis)
ax.set_ylabel('Žmonių skaičius', fontsize=14, color = 'xkcd:cadet blue')  
ax.set_xlabel('Apskritys', fontsize=14, color = 'xkcd:cadet blue')
ax.set_title('Žmonių, turinčių aukštąjį išsilavinimą, butą, kompiuterį, televizorių ir atostogas, skaičius pagal apskritis', fontsize=14, color = 'xkcd:cadet blue') 
fig.legend(loc = 2)
fig.show()

1.2

In [41]:
#   Nustatyti, kuriame regione buvo daugiausiai asmenų su aukštuoju išsilavinimu, gyvenančių butuose, 
#   turinčių kompiuterį, televizorių, galinčių keliauti bent kartą per metus.

In [42]:
apskritis = ['Alytaus', 'Kauno','Klaipėdos','Marijampolės','Panevėžio','Šiaulių','Tauragės', 'Telšių','Utenos','Vilniaus']
kiekis = []
issilavinimas = []
butas = []
kompiuteris = []
televizorius = []
atostogos = []

sql_1 = """
          select count(`2010 asmenys`.PB030) from `2010 asmenys`
          left join `2010 namu ukiai` on `2010 namu ukiai`.HB030 = `2010 asmenys`.HB030
          group by `2010 asmenys`.AP
          order by `2010 asmenys`.AP
"""

sql_2 = """
          select count(`2010 asmenys`.PB030) from `2010 asmenys`
          left join `2010 namu ukiai` on `2010 namu ukiai`.HB030 = `2010 asmenys`.HB030
          where PE040 = '5' or PE040 = '6'
          group by `2010 asmenys`.AP
          order by `2010 asmenys`.AP
"""

sql_3 = """
          select count(`2010 asmenys`.PB030) from `2010 asmenys`
          left join `2010 namu ukiai` on `2010 namu ukiai`.HB030 = `2010 asmenys`.HB030
          where HH010 = '2' or HH010 = '3' or  HH010 ='4'
          group by `2010 asmenys`.AP
          order by `2010 asmenys`.AP
"""

sql_4 = """
          select count(`2010 asmenys`.PB030) from `2010 asmenys`
          left join `2010 namu ukiai` on `2010 namu ukiai`.HB030 = `2010 asmenys`.HB030
          where HS090 = '1'
          group by `2010 asmenys`.AP
          order by `2010 asmenys`.AP
"""

sql_5 = """
          select count(`2010 asmenys`.PB030) from `2010 asmenys`
          left join `2010 namu ukiai` on `2010 namu ukiai`.HB030 = `2010 asmenys`.HB030
          where HS070 = '1'
          group by `2010 asmenys`.AP
          order by `2010 asmenys`.AP
"""

sql_6 = """
          select count(`2010 asmenys`.PB030) from `2010 asmenys`
          left join `2010 namu ukiai` on `2010 namu ukiai`.HB030 = `2010 asmenys`.HB030
          where HS040 = '1'
          group by `2010 asmenys`.AP
          order by `2010 asmenys`.AP
"""

kiekis = sar(sql_1)
issilavinimas = sar(sql_2)
butas = sar(sql_3)
kompiuteris = sar(sql_4)
televizorius = sar(sql_5)
atostogos = sar(sql_6)

In [43]:
x = np.asarray([1,2,3,4,5,6,7,8,9,10])

fig,ax = plt.subplots()
ax.plot(x, kiekis, linewidth = 1, color = 'xkcd:cadet blue', label = 'Iš viso žmonių')
P1 = ax.bar(x-0.3,  issilavinimas, width = 0.15, color = 'xkcd:ugly blue',    label = 'Su aukštuoju išsilavinimu')
P2 = ax.bar(x-0.15, butas,         width = 0.15, color = 'xkcd:old rose',      label = 'Gyvena bute')
P3 = ax.bar(x,      kompiuteris,   width = 0.15, color = 'xkcd:nasty green',   label = 'Turi kompiuterį')
P4 = ax.bar(x+0.15, televizorius,  width = 0.15, color = 'xkcd:electric lime', label = 'Turi televizorių')
P5 = ax.bar(x+0.3,  atostogos,     width = 0.15, color = 'xkcd:cloudy blue',   label = 'Gali keliauti bent kartą metuose')
plt.bar_label(P1, fmt = '%.0f',fontsize = 8)
plt.bar_label(P2, fmt = '%.0f',fontsize = 8)
plt.bar_label(P3, fmt = '%.0f',fontsize = 8)
plt.bar_label(P4, fmt = '%.0f',fontsize = 8)
plt.bar_label(P5, fmt = '%.0f',fontsize = 8)
ax.set_xticks(x)
ax.set_xticklabels(apskritis)
ax.set_ylabel('Žmonių skaičius', fontsize=14, color = 'xkcd:cadet blue')   
ax.set_xlabel('Apskritys', fontsize=14, color = 'xkcd:cadet blue')
ax.set_title('Žmonių skaičius pagal apskritis 2010 m.', fontsize=20, color = 'xkcd:cadet blue')  
fig.legend(loc = 2)
fig.tight_layout()
fig.show()

In [44]:
issilavinimas_pr = sar_proc(issilavinimas, kiekis)
butas_pr = sar_proc(butas, kiekis)
kompiuteris_pr = sar_proc(kompiuteris, kiekis)
televizorius_pr = sar_proc(televizorius, kiekis)
atostogos_pr = sar_proc(atostogos, kiekis) 

x = np.asarray([1,2,3,4,5,6,7,8,9,10])

fig,ax = plt.subplots()
P1 = ax.bar(x-0.3,  issilavinimas_pr, width = 0.15, color = 'xkcd:ugly blue',    label = 'Su aukštuoju išsilavinimu')
P2 = ax.bar(x-0.15, butas_pr,         width = 0.15, color = 'xkcd:old rose',      label = 'Gyvena bute')
P3 = ax.bar(x,      kompiuteris_pr,   width = 0.15, color = 'xkcd:nasty green',   label = 'Turi kompiuterį')
P4 = ax.bar(x+0.15, televizorius_pr,  width = 0.15, color = 'xkcd:electric lime', label = 'Turi televizorių')
P5 = ax.bar(x+0.3,  atostogos_pr,     width = 0.15, color = 'xkcd:cloudy blue',   label = 'Gali keliauti bent kartą metuose')
plt.bar_label(P1, fmt = '%.0f',fontsize = 8)
plt.bar_label(P2, fmt = '%.0f',fontsize = 8)
plt.bar_label(P3, fmt = '%.0f',fontsize = 8)
plt.bar_label(P4, fmt = '%.0f',fontsize = 8)
plt.bar_label(P5, fmt = '%.0f',fontsize = 8)
ax.set_xticks(x)
ax.set_xticklabels(apskritis)
ax.set_ylabel('Proc.', fontsize=14, color = 'xkcd:cadet blue')   
ax.set_xlabel('Apskritys', fontsize=14, color = 'xkcd:cadet blue')
ax.set_title('Žmonių proc. pagal apskritis 2010 m.', fontsize=20, color = 'xkcd:cadet blue')  
fig.legend(loc = 2)
fig.tight_layout()
fig.show()

1.3.

In [45]:
#   Pateikti šių dydžių (turi aukštąjį išsilavinimą, gyvena bute, turi kompiuterį, turi televizorių, gali keliauti) kitimą kas metus.

In [46]:
n = ['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']
apskritis = ['Alytaus', 'Kauno','Klaipėdos','Marijampolės','Panevėžio','Šiaulių','Tauragės', 'Telšių','Utenos','Vilniaus']
ap = [1,2,3,4,5,6,7,8,9,10]
I_kiekis = []
Bute = []
Komp = []
TV = []
At = []
Viso = []

sql_v = """
     select count(`{} asmenys`.PB030)
     from `{} asmenys`
"""

sql_ = """
     select count(`{} asmenys`.PB030)
     from `{} asmenys`
     left join `{} namu ukiai` on `{} namu ukiai`.HB030 = `{} asmenys`.HB030
     where `{} asmenys`.PE040 = '5' or `{} asmenys`.PE040 = '6' or `{} asmenys`.PE040 = '600' or `{} asmenys`.PE040 = '700' or `{} asmenys`.PE040 = '800'
"""

sql_b = """
     select count(`{} asmenys`.PB030)
     from `{} asmenys`
     left join `{} namu ukiai` on `{} namu ukiai`.HB030 = `{} asmenys`.HB030
     where `{} namu ukiai`.HH010 = '2' or `{} namu ukiai`.HH010 = '3' or `{} namu ukiai`.HH010 ='4'   
"""

sql_k = """
     select count(`{} asmenys`.PB030)
     from `{} asmenys`
     left join `{} namu ukiai` on `{} namu ukiai`.HB030 = `{} asmenys`.HB030
     where `{} namu ukiai`.HS090 = '1'  
"""

sql_t1 = """
     select count(`{} asmenys`.PB030)
     from `{} asmenys`
     left join `{} namu ukiai` on `{} namu ukiai`.HB030 = `{} asmenys`.HB030
     where `{} namu ukiai`.HS080 = '1'  
"""

sql_t2 = """
     select count(`{} asmenys`.PB030)
     from `{} asmenys`
     left join `{} namu ukiai` on `{} namu ukiai`.HB030 = `{} asmenys`.HB030  
"""

sql_a = """
     select count(`{} asmenys`.PB030)
     from `{} asmenys`
     left join `{} namu ukiai` on `{} namu ukiai`.HB030 = `{} asmenys`.HB030
     where `{} namu ukiai`.HS040 = '1'  
"""
   
for i in range(0,10): 
     c.execute(sql_v.format(n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i]))  
     ats = c.fetchall()
     Viso.append(float(ats[0][0]))
     c.execute(sql_.format(n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i]))  
     ats = c.fetchall()
     I_kiekis.append(float(ats[0][0]))
     c.execute(sql_b.format(n[i],n[i],n[i],n[i],n[i],n[i],n[i],n[i]))  
     ats = c.fetchall()
     Bute.append(float(ats[0][0]))
     c.execute(sql_k.format(n[i],n[i],n[i],n[i],n[i],n[i]))
     ats = c.fetchall()
     Komp.append(float(ats[0][0]))
     if float(n[i]) < 2016:
          c.execute(sql_t1.format(n[i],n[i],n[i],n[i],n[i],n[i]))
          ats = c.fetchall()
          TV.append(float(ats[0][0]))
     else:
          TV.append(0)
     c.execute(sql_a.format(n[i],n[i],n[i],n[i],n[i],n[i]))  
     ats = c.fetchall()
     At.append(float(ats[0][0]))

In [47]:
x = np.asarray([1,2,3,4,5,6,7,8,9,10])

fig,ax = plt.subplots() 
ax.plot(x+0.15, Viso, linewidth = 1, color = 'xkcd:cadet blue', label = 'Iš viso žmonių')
P1 = ax.bar(x-0.3,  I_kiekis, width = 0.15, color = 'xkcd:ugly blue',    label = 'Su aukštuoju išsilavinimu')
P2 = ax.bar(x-0.15, Bute,     width = 0.15, color = 'xkcd:old rose',    label = 'Gyvena bute')
P3 = ax.bar(x,      Komp,     width = 0.15, color = 'xkcd:nasty green', label = 'Turi kompiuterį')
P4 = ax.bar(x+0.15, TV,       width = 0.15, color = 'xkcd:electric lime', label = 'Turi televizorių')
P5 = ax.bar(x+0.3,  At,       width = 0.15, color = 'xkcd:cloudy blue',  label = 'Gali keliauti bent kartą metuose')
plt.bar_label(P1, fmt = '%.0f',fontsize = 8)
plt.bar_label(P2, fmt = '%.0f',fontsize = 8)
plt.bar_label(P3, fmt = '%.0f',fontsize = 8)
plt.bar_label(P4, fmt = '%.0f',fontsize = 8)
plt.bar_label(P5, fmt = '%.0f',fontsize = 8)
ax.set_xticks(ap)
ax.set_xticklabels(n)
ax.set_ylabel('Žmonių skaičius', fontsize=14, color = 'xkcd:cadet blue')  
ax.set_xlabel('Metai', fontsize=14, color = 'xkcd:cadet blue')
ax.set_title('Žmonių skaičius pamečiui', fontsize=20, color = 'xkcd:cadet blue')  
fig.legend()
fig.tight_layout()
fig.show()

In [48]:
db.close()

2.1

In [49]:
#    Nustatyti, kuriame regione namų ūkių turėjo mažiausiai kompiuterių, telefonų, namų/butų su kanalizacija.

In [50]:
fig,ax = plt.subplots()
pd_1 = pd.read_csv('2010 namu ukiai.csv')

viso = []
v = pd_1['AP'].value_counts()
for i in range(1,11):
    viso.append(v[i])

k = pd_1[pd_1['HS090'] == 1]['AP'].value_counts()
k_r = []
for i in range(1,11):
    k_r.append(k[i])

k = pd_1[pd_1['HS070'] == 1]['AP'].value_counts()
t_r = []
for i in range(1,11):
    t_r.append(k[i])

k = pd_1[(pd_1['HH091'] == 1) | (pd_1['HH091'] == 2)]['AP'].value_counts()
ka_r = []
for i in range(1,11):
    ka_r.append(k[i])

x = np.asarray([1,2,3,4,5,6,7,8,9,10])
ax.plot(x, viso, label = 'Viso namų ūkių')
P1 = ax.bar(x-0.25,  k_r,  width = 0.25, color = 'xkcd:nasty green',     label = 'Turi kompiuterį')
P2 = ax.bar(x,       t_r,  width = 0.25, color = 'xkcd:easter purple',   label = 'Turi telefoną')
P3 = ax.bar(x+0.25,  ka_r, width = 0.25, color = 'xkcd:light navy blue', label = 'Turi kanalizaciją')
plt.bar_label(P1, fmt = '%.0f',fontsize = 8)
plt.bar_label(P2, fmt = '%.0f',fontsize = 8)
plt.bar_label(P3, fmt = '%.0f',fontsize = 8)
ax.set_xticks(x)
ax.set_xticklabels(apskritis)
ax.set_ylabel('Namų ūkių skaičius', fontsize=14, color = 'xkcd:cadet blue')   
ax.set_xlabel('Apskritys', fontsize=14, color = 'xkcd:cadet blue')
ax.set_title('Namų ūkių skaičius pagal apskritis 2010 m.', fontsize=20, color = 'xkcd:cadet blue')  
fig.legend(loc = 2)
fig.tight_layout()
fig.show()

2.2

In [51]:
#    Pateikti šių dydžių (turi kompiuterių, telefonų, kanalizaciją) Kauno, Klaipėdos, Vilniaus apskričių kaitą 2010,2014,2019 metais.

In [52]:
viso = []
k_r = []
t_r = []
ka_r = []
viso_K = []
viso_V = []
viso_Kl = []
komp_K = []
komp_V = []
komp_Kl = []
tel_K = []
tel_V = []
tel_Kl = []
ka_K = []
ka_V = []
ka_Kl = []
nu = '{} namu ukiai.csv'


for i in (0,4,9):
    pd_1 = pd.read_csv(nu.format(n[i]))
    v = pd_1['AP'].value_counts()
    viso_V.append(v[10])
    viso_K.append(v[2])
    viso_Kl.append(v[3])
    k = pd_1[pd_1['HS090'] == 1]['AP'].value_counts()
    komp_V.append(k[10])
    komp_K.append(k[2])
    komp_Kl.append(k[3])
    if i < 9:
        k = pd_1[pd_1['HS070'] == 1]['AP'].value_counts()
        tel_V.append(k[10])
        tel_K.append(k[2])
        tel_Kl.append(k[3])
    k = pd_1[(pd_1['HH091'] == 1) | (pd_1['HH091'] == 2)]['AP'].value_counts()
    ka_V.append(k[10])
    ka_K.append(k[2])
    ka_Kl.append(k[3])

viso_Vt = [viso_V[0],viso_V[1]]
viso_Kt = [viso_K[0],viso_K[1]]
viso_Klt = [viso_Kl[0],viso_Kl[1]]

In [53]:
x = np.asarray([1,2,3])
x2 = np.asarray([1,2])
fig, ax = plt.subplots(2,2)

ax[0][0].bar(x-0.25,  viso_V,  width = 0.25, color = 'xkcd:nasty green',     label = 'Vilnius')
ax[0][0].bar(x,       viso_K,  width = 0.25, color = 'xkcd:easter purple',   label = 'Kaunas')
ax[0][0].bar(x+0.25,  viso_Kl, width = 0.25, color = 'xkcd:light navy blue', label = 'Klaipėda')
ax[0][0].set_xticks(x)
ax[0][0].set_xticklabels(['2010','2014','2018'])
ax[0][0].set_ylabel('Namų ūkių skaičius', fontsize=12, color = 'xkcd:cadet blue')   
ax[0][0].set_xlabel('Metai', fontsize=12, color = 'xkcd:cadet blue')
ax[0][0].set_title('Namų ūkių skaičius - viso', fontsize=13, color = 'xkcd:cadet blue') 

ax[0][1].bar(x-0.25, viso_V, width = 0.1, color = 'xkcd:very light green')
ax[0][1].bar(x,      viso_K, width = 0.1,  color = 'xkcd:pale lavender')
ax[0][1].bar(x+0.25, viso_Kl, width = 0.1, color = 'xkcd:carolina blue')
ax[0][1].bar(x-0.25,  komp_V,  width = 0.25, color = 'xkcd:nasty green')
ax[0][1].bar(x,       komp_K,  width = 0.25, color = 'xkcd:easter purple')
ax[0][1].bar(x+0.25,  komp_Kl, width = 0.25, color = 'xkcd:light navy blue')
ax[0][1].set_xticks(x)
ax[0][1].set_xticklabels(['2010','2014','2018'])
ax[0][1].set_ylabel('Namų ūkių skaičius', fontsize=12, color = 'xkcd:cadet blue')   
ax[0][1].set_xlabel('Metai', fontsize=12, color = 'xkcd:cadet blue')
ax[0][1].set_title('Namų ūkių skaičius - turi kompiuterius', fontsize=13, color = 'xkcd:cadet blue') 

ax[1][0].bar(x2-0.25, viso_Vt, width = 0.1, color = 'xkcd:very light green')
ax[1][0].bar(x2,      viso_Kt, width = 0.1,  color = 'xkcd:pale lavender')
ax[1][0].bar(x2+0.25, viso_Klt, width = 0.1, color = 'xkcd:carolina blue')
ax[1][0].bar(x2-0.25,  tel_V,  width = 0.25, color = 'xkcd:nasty green')
ax[1][0].bar(x2,       tel_K,  width = 0.25, color = 'xkcd:easter purple')
ax[1][0].bar(x2+0.25,  tel_Kl, width = 0.25, color = 'xkcd:light navy blue')
ax[1][0].set_xticks(x2)
ax[1][0].set_xticklabels(['2010','2014'])
ax[1][0].set_ylabel('Namų ūkių skaičius', fontsize=12, color = 'xkcd:cadet blue')   
ax[1][0].set_xlabel('Metai', fontsize=12, color = 'xkcd:cadet blue')
ax[1][0].set_title('Namų ūkių skaičius - turi telefoną', fontsize=13, color = 'xkcd:cadet blue') 

ax[1][1].bar(x-0.25, viso_V, width = 0.1, color = 'xkcd:very light green')
ax[1][1].bar(x,      viso_K, width = 0.1,  color = 'xkcd:pale lavender')
ax[1][1].bar(x+0.25, viso_Kl, width = 0.1, color = 'xkcd:carolina blue')
ax[1][1].bar(x-0.25,  ka_V,  width = 0.25, color = 'xkcd:nasty green')
ax[1][1].bar(x,       ka_K,  width = 0.25, color = 'xkcd:easter purple')
ax[1][1].bar(x+0.25,  ka_Kl, width = 0.25, color = 'xkcd:light navy blue')
ax[1][1].set_xticks(x)
ax[1][1].set_xticklabels(['2010','2014','2018'])
ax[1][1].set_ylabel('Namų ūkių skaičius', fontsize=12, color = 'xkcd:cadet blue')   
ax[1][1].set_xlabel('Metai', fontsize=12, color = 'xkcd:cadet blue')
ax[1][1].set_title('Namų ūkių skaičius - turi kanalizaciją', fontsize=13, color = 'xkcd:cadet blue') 

fig.legend(loc = 2)
fig.tight_layout()
fig.show()

3.1

In [54]:
#   Nustatyti, kiek asmenų, turinčių aukštąjį išsilavinimą, gyveno butuose, namuose, kaime/mieste, kuriame regione?

In [55]:
pd_1 = pd.read_csv('2010 namu ukiai.csv')
pd_2 = pd.read_csv('2010 asmenys.csv')
lent = pd.merge(pd_1, pd_2, how = 'left', left_on = 'HB030', right_on = 'HB030')
l = lent[(lent['PE040'] == 5) | (lent['PE040'] == 6)]

viso = []
v = l['AP_x'].value_counts()
for i in range(1,11):
    viso.append(v[i])

v = l[(l['HH010'] == 2) | (l['HH010'] == 4) | (l['HH010'] == 4)]['AP_x'].value_counts()
bute = v.sort_index()

v = l[l['HH010'] == 1]['AP_x'].value_counts()
name = v.sort_index()

v = l[l['M_K_x'] == 1]['AP_x'].value_counts()
mieste = v.sort_index()

v = l[l['M_K_x'] == 2]['AP_x'].value_counts()
kaime = v.sort_index()

In [56]:
x = np.asarray([1,2,3,4,5,6,7,8,9,10])
apskritis = ['Alytaus', 'Kauno','Klaipėdos','Marijampolės','Panevėžio','Šiaulių','Tauragės', 'Telšių','Utenos','Vilniaus']
fig,ax = plt.subplots()
ax.plot(x, viso, label = 'Žmonės su aukštuoju išs.')
P1 = ax.bar(x-0.3,  bute,   width = 0.2, color = 'xkcd:deep rose',     label = 'Gyvenantys bute')
P2 = ax.bar(x-0.1,  name,   width = 0.2, color = 'xkcd:blush pink',   label = 'Gyvenantys name')
P3 = ax.bar(x+0.1,  mieste, width = 0.2, color = 'xkcd:viridian', label = 'Gyvenantys mieste')
P4 = ax.bar(x+0.3,  kaime,  width = 0.2, color = 'xkcd:cool green', label = 'Gyvenantys kaime')
plt.bar_label(P1, fmt = '%.0f',fontsize = 8)
plt.bar_label(P2, fmt = '%.0f',fontsize = 8)
plt.bar_label(P3, fmt = '%.0f',fontsize = 8)
plt.bar_label(P4, fmt = '%.0f',fontsize = 8)
ax.set_xticks(x)
ax.set_xticklabels(apskritis)
ax.set_ylabel('Žmonių skaičius', fontsize=12, color = 'xkcd:cadet blue')   
ax.set_xlabel('Apskritys', fontsize=12, color = 'xkcd:cadet blue')
ax.set_title('Žmonių, turinčių aukštąjį išsilavinimą, skaičius pagal gyvenamąją vietą ir apskritis 2010 m.', fontsize=14, color = 'xkcd:cadet blue')  
fig.legend(loc = 2)
fig.tight_layout()
fig.show()

In [57]:
bute_pr = sar_proc(bute,viso)
name_pr = sar_proc(name,viso)
mieste_pr = sar_proc(mieste,viso)
kaime_pr = sar_proc(kaime,viso)

x = np.asarray([1,2,3,4,5,6,7,8,9,10])
apskritis = ['Alytaus', 'Kauno','Klaipėdos','Marijampolės','Panevėžio','Šiaulių','Tauragės', 'Telšių','Utenos','Vilniaus']
fig,ax = plt.subplots()
P1 = ax.bar(x-0.3,  bute_pr,   width = 0.2, color = 'xkcd:deep rose',     label = 'Gyvenantys bute')
P2 = ax.bar(x-0.1,  name_pr,   width = 0.2, color = 'xkcd:blush pink',   label = 'Gyvenantys name')
P3 = ax.bar(x+0.1,  mieste_pr, width = 0.2, color = 'xkcd:viridian', label = 'Gyvenantys mieste')
P4 = ax.bar(x+0.3,  kaime_pr,  width = 0.2, color = 'xkcd:cool green', label = 'Gyvenantys kaime')
plt.bar_label(P1, fmt = '%.0f',fontsize = 8)
plt.bar_label(P2, fmt = '%.0f',fontsize = 8)
plt.bar_label(P3, fmt = '%.0f',fontsize = 8)
plt.bar_label(P4, fmt = '%.0f',fontsize = 8)
ax.set_xticks(x)
ax.set_xticklabels(apskritis)
ax.set_ylabel('Proc.', fontsize=12, color = 'xkcd:cadet blue')   
ax.set_xlabel('Apskritys', fontsize=12, color = 'xkcd:cadet blue')
ax.set_title('Žmonių, turinčių aukštąjį išsilavinimą, procentas pagal gyvenamąją vietą ir apskritis 2010 m.', fontsize=14, color = 'xkcd:cadet blue')  
fig.legend(loc = 2)
fig.tight_layout()
fig.show()